
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(255,200,42,1) 28.3%, white);
}

h2 {
    text-decoration: underline;
}


/* Je m'amuse avec les couleurs */

section {
    padding: 0 20px;
}

main h2 {
    padding-top: 30px;
    margin-top: 0;
}

main p, main ul, main ol {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section_1 {
    background: linear-gradient(white, #CA2084);
}

.section_2 {
    background: linear-gradient(#CA2084, #02EAE9);
}

.section_3 {
    background: linear-gradient(#02EAE9, #42F92F);
}

.section_4 {
    background: linear-gradient(#42F92F, white);
}

/* J'ai fini de m'amuser */


figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.nav_accueil {
    margin-right: 175px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

td, th {
    border: solid black 3px;
    margin: 5px;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.instagram {
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF, #515BD4);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.instagram:hover {
    color: black;
}


/* Test pour un menu déroulant avec details */

details ul {
    list-style-type: none;
}

details ul li {
    width: 200px;
}

summary {
    list-style: none;
}


/* Test pour un menu déroulant avec div */

.submenu {
    display: none;
    position: absolute;
}

.submenu ul {
    list-style-type: none;
}

.menu:hover {
    color: red;
}

.menu:hover .submenu {
    display: block;
}