@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid black;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.redirection {
    display: flex;
    justify-content: space-between;
}

.redirection ul {
    display: flex;
    flex-direction: row;
}

.redirection li {
    padding-left: 20px;
}

.redirection img {
    width: 40px;
    border-radius: 10px;
}

.lien-reseau, .lien-politique {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.lien-reseau p {
    font-weight: bold;
    color: linear-gradient(to left, black, white);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(255,200,42,1) 28.3%, white);
}

h2 {
    font-family: "Boldonse", system-ui;
    text-decoration: underline;
}


/* Je m'amuse avec les couleurs */

section {
    padding: 0 20px;
}

main h2 {
    padding-top: 30px;
    margin-top: 0;
}

main p, main ul, main ol {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section_1 {
    background: linear-gradient(white, #CA2084);
}

.section_2 {
    background: linear-gradient(#CA2084, #02EAE9);
}

.section_3 {
    background: linear-gradient(#02EAE9, #42F92F);
}

.section_4 {
    background: linear-gradient(#42F92F, white);
}

/* J'ai fini de m'amuser */


figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.nav_menu {
    font-size: xx-large;
}

.nav_voyager {
    width: 170px;
    margin-right: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: inset 5px;
    background: linear-gradient(to bottom, #FFE7A3 28.3%, #FFCA31);
}

.nav_voyager ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_voyager a:hover {
    text-shadow: 0px 1px 2px;
}

.titre_liste {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

td, th {
    border: solid black 3px;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    font-weight: bold;
    
}

.image_accueil:hover, .lien-politique a:hover {
    font-weight: normal;
}